h1{
    color: black;
    text-align: center;
  }
  

h2{
    color: #333;
    text-align: center;
  }

  button{
   background-color: #8A0047
  }
  button{
    color: white
  }

  button{
    border-radius: 30px;
    border: none;
    padding: 5px 120px;
    font-size: 13px;
  }
  
